.app {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  overflow: auto;
}

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: normal;
  word-wrap: break-word;
  color: #023E7D;
  padding: 5vh;
  font-family: 'American Typewriter', sans-serif;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 5s;
  animation-timing-function: steps(50, end);
  animation-fill-mode: forwards;
  font-size: calc(10px + 2.5vmin);
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.fade-in {
  animation: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.app-contents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  min-height: 20vh;
}

.testing-button {
  background-color: #f9abff;
  font-size: calc(10px + 1.3vmin);
  color: #023E7D;
  border-radius: 10px;
  font-family: "Avenir", sans-serif;
}

.testing-button:hover {
  background-color: #87CEEB;
}

.testing-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh;
}

.question-card {
  padding: 20px;
  width: 60%;
  height: 50%;
  margin: auto auto;
  margin-bottom: 10vh;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  color: #023E7D;
  font-family: 'Avenir', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  background-color: #fff;
}

.final-results {
  background-color: white;
  border: 3px solid #023E7D;
  padding: 10px;
  width: 40%;
  height: 20%;
  margin: auto auto;
  border-radius: 10px;
  color: #023E7D;
  font-family: 'Avenir', sans-serif;
}

.restart {
  background-color: #f9abff;
  padding: 16px 24px;
  text-align: center;
  display: inline-block;
  border-radius: 24px;
  border: solid #023E7D;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1vh;
}

.restart:hover {
  background-color: #87CEEB;
}

.close {
  background-color: white;
  margin-top: 5%;
}

.close:hover {
  background-color: #87CEEB;
}

ul {
  list-style: none;
}

li {
  background-color: #d3ecf3;
  padding: 16px;
  border: 3px solid #023E7D;
  border-radius: 20px;
  font-size: 20px;
  margin: 10px;
  margin-right: 10vw;
  margin-left: 10vw;
}

li:hover {
  background-color: #87CEEB;
}