.Contents-buttons {
    flex: 0 0 auto;
    margin: 5px;
    margin-bottom: 1.5vh;
    background-color: #d3ecf3;
    font-size: calc(10px + 1.3vmin);
    /* border-radius: 20px; */
    border: solid #023E7D;
    font-family: 'Avenir', sans-serif;
  }

  .Contents-buttons:hover {
    background-color: #87CEEB;
  }