.example-enter {
    opacity: 0;
}

.example-enter-active {
    opacity: 0.5;
    transition: transform 500ms ease-in, opacity 500ms ease-in;
}

.example-exit {
opacity: 1;
}

.example-exit-active {
opacity: 0;
transition: opacity 300ms ease-out;
}